main {
    display: flex;
    justify-content: center;

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            width: 100%;
        }

        figcaption {
            font-family: var(--fonte-primaria);
            font-size: var(--fonte-tamanho);
            margin-bottom: var(--gap-secundaria);
        }
    }
}