main {
    display: flex;
    justify-content: center;
}

main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main figure img {
    width: 100%;
}

main figure figcaption {
    margin-bottom: var(--gap-secundaria);
}