@import url("./components/reset.css");
@import url("./components/contato.css");
@import url("./components/lancamento.css");
@import url("./components/main-content.css");

:root {
    --gap-primaria: 1rem;
    --gap-secundaria: 0.5rem;
    --cor-primaria: #1b357e;
    --cor-secundaria: #1351d8;
    --fonte-primaria: "Roboto", sans-serif;
    --fonte-tamanho: 1rem;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-tamanho);
}

main {
    margin: var(--gap-secundaria);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.4);
}

header a img {
    width: 100px;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: var(--gap-primaria);
}

header nav a {
    text-decoration: none;
    color: var(--cor-secundaria);
    outline: none;
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-tamanho);
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-primaria);
        padding-bottom: var(--gap-secundaria);
    }

    header nav {
        gap: var(--gap-secundaria);
    }
}

footer {
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer address {
    display: flex;
    align-items: center;
    margin: var(--gap-secundaria);
}

footer > img {
    margin-right: var(--gap-secundaria);
}

@media (max-width: 480px) {
    footer {
        flex-direction: column;
    }

    footer address {
        flex-direction: row;
    }

    footer address a img {
        width: 40px;
    }

    footer > img {
        width: 80px;
    }
    .copyright {
        margin-bottom: var(--gap-secundaria);
    }
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

.botao {
    background-color: var(--cor-secundaria);
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 0.75rem;
    transition: all 0.3s ease;
}

.botao:hover {
    cursor: pointer;
    transform: scale(1.05); 
    background-color: #0d389c; 
}