@import url("./components/reset.css");
@import url("./components/contato.css");
@import url("./components/lancamento.css");
@import url("./components/main-content.css");

:root {
    --gap-primaria: 16px;
    --gap-secundaria: 8px;
    --cor-primaria: #1b357e;
    --cor-secundaria: #1351d8;
    --fonte-primaria: "Roboto", sans-serif;
    --fonte-tamanho: 16px;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto 100px;

    @media (max-width: 480px) {
        grid-template-rows: 100px auto 200px;
    }
}

main {
    margin: var(--gap-secundaria);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: var(--gap-secundaria);

    a img {
        width: 100px;
    }

    nav {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: var(--gap-primaria);

        a {
            text-decoration: none;
            color: var(--cor-secundaria);
            outline: none;
            font-family: var(--fonte-primaria);
            font-size: var(--fonte-tamanho);
        }

        @media (max-width: 480px) {
            gap: var(--gap-secundaria);
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-primaria);
        margin-top: var(--gap-secundaria);
    }
}

footer {
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: space-between;

    address {
        display: flex;
        align-items: center;
        margin: var(--gap-secundaria);

        p {
            color: white;
            font-family: var(--fonte-primaria);
        }

        @media (max-width: 480px) {
            flex-direction: column;

            a img {
                width: 40px;
            }
        }
    }

    img {
        margin-right: var(--gap-secundaria);

        @media (max-width:480px) {
            width: 80px;
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
    }
}

.botao {
    background-color: var(--cor-secundaria);
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 12px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}